
@font-face {
    font-family: 'UnicaOne';
    src: url('../assets/fonts/UnicaOne-Regular.ttf') format('truetype');
    font-weight: bolder;
}

@font-face{
    font-family: "Iceland";
    src: url('../assets/fonts/Iceland-Regular.ttf');
}

@font-face{
    font-family: "Raj";
    src: url('../assets/fonts/Rajdhani-Regular.ttf');
}

@font-face{
    font-family: "Cinzel";
    src: url('../assets/fonts/Cinzel-Regular.ttf');
}

@font-face{
    font-family: 'Quest';
    src: url('../assets/fonts/Questrial-Regular.ttf')
}

@font-face{
    font-family: 'Monda';
    src: url('../assets/fonts/Monda-Regular.ttf')
}

@font-face{
    font-family: 'Monts';
    src: url('../assets/fonts/Montserrat-Thin.ttf')
}


body{
    background-color: #e0e0e0;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Raj', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html{
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}


.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav.hide-on-small{
    width: 100%;
}

a{
    text-decoration: none;
    cursor: default;

}

.sidenav-link-div{
    width: 80%;
    margin: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    grid-template-areas:
        "icon label";
    border-left: 1px solid rgb(189, 212, 255);
    border-width: 1px;
    text-align: left;
    transition: 0.3s;
}

.sidenav-link-div:hover{
    background-color: rgb(13, 12, 14);
    border-left: 4px solid rgb(228, 245, 0);
    margin-left: 7px;
    font-weight: bold;
}

.sidenav-link-div:active{
    background-color: rgb(2, 138, 131);
}

.sidenav-icon{
    color: rgb(197, 197, 197);
}

.gray{
    background-color: rgb(30, 30, 36);
}


.full{
    width: 100%;
    height: 100%;
}

.header-lg{
    height: 100px;
    width: 100%;
}

.link{
    color: rgb(189, 209, 228);
}

canvas{
    background-color: rgb(0, 6, 39);
    border: 1px solid black;
}

.portfolio-page{
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: grid;
    overflow-x: hidden;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 140px 1fr;
    grid-template-areas: 
        "header-left main"
        "sidenav main";

}

.navbar{
    background-color: rgb(30, 30, 36);
    /* border-radius: 3px; */
    border-top: 0.5px solid rgb(33, 90, 104);
}

.hamburger{
    display: none;
}


.ul-symbol{
    color:  rgba(33, 90, 104, 0.2);
    position: absolute;
    left: 23px;
    top: 30px;
    font-size: 5em;
    z-index: 10;
}

.ul-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(30, 30, 36);
    z-index: 5;
}

.ul-name{
    font-size: 1.3em;
    font-weight: regular;
    margin: 0px;
    padding: 10px;
    padding-top: 20px;
    color: rgb(189, 209, 228);
    z-index: 15;
    font-family: 'UnicaOne'
}

.ul-title{
    font-size: 1em;
    padding: 10px;
    color: rgb(189, 209, 228);
    z-index: 2;
}

.shadow{
    box-shadow: 3px -1px 7px 0px rgb(54, 54, 54);
}

.shadow-right{
    box-shadow: 10px 0 5px -2px #888;
}

.main{
    /* width: calc(100% - 150px);
    width: -o-calc(100% - 150px); 
    width: -webkit-calc(100% - 150px); 
    width: -moz-calc(100% - 150px);  */
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.main-component{
    /* background-color: rgb(192, 192, 191); */
    overflow-y: scroll;
    /* width: calc(100% - 150px);
    width: -o-calc(100% - 150px); 
    width: -webkit-calc(100% - 150px); 
    width: -moz-calc(100% - 150px);  */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}

.main-component::-webkit-scrollbar {
    display: none;
}

.main-header-container{
    /* background-color: rgb(2, 138, 131); */
    background-color: rgb(39, 76, 107);
    /* color: rgb(189, 209, 228); */
    color: rgb(201, 202, 202);
    /* font-family: 'Raj'; */
    height: 100px;
    margin: 0px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    z-index: -1;
}

.main-header{
    margin: 0px;
    font-size: 3em;
    font-weight: thin;
    font-family: "Monts"
    /* font-family: "Raj"; */
}

.main-section-content{
    padding-left: 15px;
    color: rgb(30, 30, 36);
}

.top-header{
    height: 141px;
    width: 100%;
    /* background-color: #fffff0; */
    background-image: url('../assets/images/earth.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.card{
    box-shadow: 2px 2px 2px 1px rgb(90, 90, 90);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    width: 85%;
}

.card-title{
    font-size: 1.3em;
    font-weight: lighter;
    color: rgb(54, 54, 54);
    margin-bottom: 5px;
}

.card-subtitle{
    margin-top: 5px;
    font-size: 1.0em;
    font-weight: regular;
    color: rgb(54, 54, 54);
}

.course-list{
    /* list-style-type: '☁'; */
    list-style: none;
    font-weight: 100;
}

.course-card-header{
    font-weight: regular;
}

.fa-circle{
    color: rgb(39, 76, 107);
}

.clickable-icon{
    background-color: rgb(39, 76, 107);
    color: rgb(54, 54, 54);
    font-size: 1.2em;
    border-radius: 50%;
    transition: .3s;
    width: 2em; 
    height: 2em; 
    margin: 7px;
    box-shadow: 1px 1px 1px 1px gray;
    /* padding-left: 5px; */
    /* vertical-align: bottom; */
}

.clickable-icon:hover{
    background-color: white;
    box-shadow: none;
}

.clickable-icon-color{
    color: rgb(0, 6, 39);
    /* color: rgb(30,30,36); */
    /* color: rgb(175,175,175); */
    transition: .3s
}

.clickable-icon-color:hover{
    color: white;
}

.card-row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-clickable-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.small-card{
    width: 200px;
    min-width: 200px;
    display: inline-flex;
    transition: transform 1s ease-in-out;
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition:transform 1s ease-in-out;
    -ms-transition:transform 1s ease-in-out;
}


.horizontal-viewer{
    overflow: hidden;
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-left: 20px;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}

.horizontal-view-scroller{
    border: none;
    outline: none;
    flex: 1 0 40px;
    color: rgba(0,0,0,0.7);
    z-index: 20;
    background-color: rgba(54,54,54,0.1);
    transition: .3s;
    width: 40px;
    margin: 0px;
    padding: 0px;
}

.horizontal-view-scroller:hover{
    border: none;
    color: white;
    background-color: rgba(54,54,54,0.7);
}

.horizontal-view-scroller:focus{
    border: none;
}

.horizontal-view-scroller:active{
    border: none;
    color: rgb(39, 76, 107);
}

.horizontal-view-scroller:visited{
    border: none;
}

.viewerIcon{
    font-size: 2em;
}

.flex-space-md{
    flex: 1 0 40px;
}

.hamburger{
    display: none;
}

.bold{
    font-weight: bolder;
}

.margin-bottom-md{
    margin-bottom: 2em;
}

.smaller-font{
    font-size: 0.9em;
}

.small-font{
    font-size: 0.7em;
}

.about-me{
    font-size: 1.2em;
    font-weight: bold;
}

.larger-font{
    font-size: 1.5em;
}

.large-font{
    font-size: 1.9em;
}

.emph1{
    font-size: 1.1em;
    font-weight: 600;
    font-family: "Quest";
}

.emph2{
    font-size: 1.1em;
    font-weight: 600;
    font-family: "Quest";
    padding-bottom: 4px;
    border-bottom: 5px solid rgb(39, 76, 107);
    /* border-bottom: 5px solid rgb(33, 90, 104); */
    border-radius: 5px;
}

.emph3{
    font-size: 1.1em;
    padding-bottom: 4px;
    font-weight: 600;
    font-family: "Quest";
    /* border-bottom: 5px solid rgb(255, 181, 43); */
    border-bottom: 5px solid rgb(39, 76, 107);
    border-radius: 5px;
} 

.emph4{
    font-size: 1.1em;
    padding-bottom: 4px;
    font-weight: 600;
    font-family: "Quest";
    border-bottom: 5px solid rgb(39, 76, 107);
    border-radius: 5px;
}



@media only screen and (max-width: 990px){
    .hide-on-small{
        display: none;
    }

    .portfolio-page{
        height: 100%;
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas: 
            "blank blank"
            "main main";
    
    }

    .main-component{
        width: 100%;
    }

    /* a.anchor {
        display: block;
        position: relative;
        top: -100px;
        visibility: hidden;
    } */

    .header-left{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 24;
        width: 100%;
        height: 100px;
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    }

    .ul-symbol{
        color:  rgba(33, 90, 104, 0.2);
        position: absolute;
        left: 45%;
        top: 24px;
        font-size: 3em;
        z-index: 10;
    }

    .hamburger{
        display: inline;
        position: absolute;
        font-size: 2.3em;
        top: 27px;
        left: 40px;
        color: rgb(39, 76, 107);
    }

    .hamburger:hover{
        color: rgb(189, 209, 228);
    }

    .sidenav-modal{
        height: 100%;
        width: 100%;
        grid-area: sidenav-modal;
    }
}